{% extends "layout.html" %}

{% block body %}
<a href="/log/{{ project }}/{{ direnum[0][2] }}/vhosts">Back to vhost Logs</a>
<table class="table table-dark">
    <tr>
        <th colspan="7">PROJECT: <span style="color: white;">{{ project }}</span></th>
    </tr>
    <tr>
        <th>PATH</th>
        <th>STATUS</th>
    </tr>
    {% for row in direnum %}
        <tr>
            <td><a href="http://{{ vhost }}:{{ port }}{{ row[0] }}">http://{{ vhost }}:{{ port }}{{ row[0] }}</a></td>
            <td>{{ row[1] }}</td></tr>
    {% endfor %}
</table>
<a href="/log/{{ project }}/{{ direnum[0][2] }}/vhosts">Back to vhost Logs</a>
{% endblock %}