<!DOCTYPE html>
    <head>
        <title>SPRAK</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>  
        <div class="container">
            <br />
            <a href="/"><button type="button" class="btn btn-success btn-sm">Projects</button></a>
            <a href="/webscan"><button type="button" class="btn btn-success btn-sm">Scan</button></a>
            
        {% block body %}
        {% endblock %}
        </div>
        <br /><br /><br />
    </body>
</html>