{% extends "layout.html" %}

{% block body %}
<table class="table table-dark">
    <tr>
        <th colspan="4">HOST</th>
        <th colspan="3">LAST SCAN</th>
    </tr>
    <tr>
        <td colspan="4">{{ ip_address }}</td>
        <td colspan="3">{{ lastscan }}</td></tr>
    <tr>
        <th colspan="7">OS MATCHES</th>
    </tr>
    <tr><td colspan="7">{{ osmatches }}</td></tr>
    <tr>
        <th>PORT</th>
        <th>PROTOCOL</th>
        <th>STATE</th>
        <th>SERVICE</th>
        <th>VERSION</th>
        <th>PRODUCT</th>
        <th>INFO</th>
    </tr>
    {% for row in ports %}
        <tr>
        {% for elem in row %}
            {% if elem == "has script" %}
                    <tr style="border-top: none;">
                        <th style="border-top: none;" colspan="7">[SCRIPTS]</th>
                    </tr>
                    {% for scriptrow in scripts %}
                        {% if scriptrow[0] in row and scriptrow[1] in row %}
                        <tr style="border-top: none;">
                            <td style="border-top: none;" class="scripts" colspan="7"><span class="scriptname">{{ scriptrow[2] }}</span><br />{{ scriptrow[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% elif elem == "no script" %}
                    </tr>
                {% elif elem != "NULL" %}
                    <td>{{ elem }}</td>
                {% else %}
                    <td>&nbsp;-&nbsp;</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<a href="hostlogs">Back to Host Logs</a>&nbsp;|&nbsp;<a href="/static/logs/{{ ip_address }}.nmap">Original Nmap Log</a>
{% endblock %}